appdirs==1.4.3
certifi==2018.1.18
chardet==3.0.4
docopt==0.6.2
enum34==1.1.6
fts3==3.6.3
futures==3.2.0
gfal2-util==1.4.0
GSI==0.6.5
idna==2.6
M2Crypto==0.25.0
mjf==0.0.2
pycurl==7.19.0
pyparsing==2.2.0
python-json-logger==0.1.8
pyxrootd==4.8.0
requests==2.18.4
sh==1.12.14
simplejson==3.13.2
six==1.12.0
stomp.py==4.1.19
subprocess32==3.2.7
t2kdm==1.2.0
urllib3==1.22
virtualenv==16.4.0
